body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
    margin: 25px 25px;
    background-color: #E3E9ED;
}

h1 {
    text-align: center;
    color: #2A343B;
}

h3 {
    color: #2A343B;
}

a {
    color: #65707B;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #b9bfc6;    
}

form {
    text-align: center;
    margin: 2em;
  }

input {
    font-size: 1.2em;
}

button {    
    background-color: #65707B;
    color: #E3E9ED;
    border: none;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 15px;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 4px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s; 
}

button:hover {
    background-color: #b9bfc6;
    color: #2A343B;
    cursor: pointer;
}

ul {
    padding-left: 30px;
}